<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/pokeCard.css" />
    <title>Index of Pokemon</title>
  </head>
  <body>
    <div class="cardBox">
      <h2><%=data.name %></h2>
      <img
        class="pokemonImg"
        src="<%=data.img %>"
        alt="Picture of <%=data.name %>"
      />
      <div class="types">
        <ul>
          <% const type = data.type %> <% for(let j = 0; j < type.length;
          j+=1){%>
          <li><%=type[j] %></li>
          <% } %>
        </ul>
      </div>
      <div class="stats">
        <h3>HP: <%=data.stats.hp %></h3>
        <h3>Attack: <%=data.stats.attack %></h3>
        <h3>Defense: <%=data.stats.defense %></h3>
      </div>
    </div>
    <a href="/pokemon/<%=index %>/edit"
      ><button>Edit <%=data.name %></button></a
    >
    <a href="http://localhost:3003/pokemon"><button>Back</button></a>
    <% if(data.type == "Grass" || data.type == "Bug"){ %>
    <style>
      .cardBox {
        background-image: linear-gradient(
          45.34deg,
          rgb(111, 190, 77) 5.66%,
          rgb(197, 216, 60) 94.35%
        );
      }
    </style>
    <% } else if (data.type == 'Fire'){%>
    <style>
      .cardBox {
        background-image: linear-gradient(
          45.34deg,
          rgb(243, 98, 73) 5.66%,
          rgb(248, 163, 90) 94.35%
        );
      }
    </style>
    <% } %>
  </body>
</html>
