<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/pokeCard.css" />
    <title>Index of Pokemon</title>
  </head>
  <body>
    <div class="cardBorder">
      <div class="cardInfoBox"></div>
    </div>

    <div class="container">
      <h2><%=data.name %></h2>
      <img src="<%=data.img %> " alt="Picture of <%=data.name %>" />
      <ul>
        <% const type = data.type %> <% for(let j = 0; j < type.length; j+=1){%>
        <li><%=type[j] %></li>
        <% } %>
      </ul>
      <h3>HP: <%=data.stats.hp %></h3>
      <h3>Attack: <%=data.stats.attack %></h3>
      <h3>Defense: <%=data.stats.defense %></h3>
      <a href="http://localhost:3003/pokemon"><button>Back</button></a>
    </div>
  </body>
</html>
